<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{projectName}}</title>
  <link rel="stylesheet" href="vendors/normalize-css/normalize.css" />
  <link rel="stylesheet" href="vendors/bootstrap/dist/css/bootstrap.css" />

  <link rel="stylesheet" href="vendors/pickadate/lib/themes/default.css" />
  <link rel="stylesheet" href="vendors/pickadate/lib/themes/default.date.css" />

  <link rel="stylesheet" href="vendors/alertify.js/themes/alertify.core.css" />
  <link rel="stylesheet" href="vendors/alertify.js/themes/alertify.default.css" />

  <link rel="stylesheet" href="vendors/eurekapp/dist/eurekapp.css" />
  <link rel="stylesheet" href="css/style.css" />
</head>
<body>

  <script src="vendors/jquery/dist/jquery.js"></script>
  <script src="vendors/handlebars/handlebars.js"></script>
  <script src="vendors/ember/ember.js"></script>
  <script src="vendors/bootstrap/dist/js/bootstrap.js"></script>

  <script src="vendors/pickadate/lib/legacy.js"></script>
  <script src="vendors/pickadate/lib/picker.js"></script>
  <script src="vendors/pickadate/lib/picker.date.js"></script>

  <script src="vendors/typeahead.js/dist/typeahead.bundle.js"></script>

  <script src="vendors/jQuery-Fakecrop/fakecrop/jquery.fakecrop.js"></script>

  <script src="vendors/jquery-textcomplete/jquery.textcomplete.js"></script>

  <script src="vendors/alertify.js/lib/alertify.js"></script>

  <script src="vendors/eurekapp/index.js"></script>
  <script src="vendors/eurekapp/dist/templates.js"></script>

  <script src="app.js"></script>
  <script src="templates.js"></script>

</body>
</html>
